name: Auto PURGE Every 10 Seconds

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  purge:
    runs-on: ubuntu-latest
    timeout-minutes: 350
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Make purge.sh executable
        run: chmod +x purge.sh

      - name: Start 10-second PURGE loop
        run: ./purge.sh
